body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("hatter.jpg");
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 170px auto;
}

.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
}

.login-right{
    background: #fff;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}

.cim{
    background-color: rgba(255, 0, 0, 0.58);
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

.kep{
    margin: 25px;
}

.aszov{
    font-style: italic;
    font-size: 25px;
    margin: 25px;
}