body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("hatter.jpg");
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 170px auto;
}

.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
}

.login-right{
    background: #fff;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}

.cim{
    background-color: transparent;
    text-align: center;
    font-size: 50px;
}
.cim2{
    text-align: center;
    padding: 15px;
    margin: -10px;
    font-size: 25px;
}
.kep{
    margin: 25px;
}
.kep2{
    margin: 90px;
    margin-bottom: 10px;

}
.kep3{
    margin: 90px;
    margin-bottom: 10px;
    width: 30%;
    height: 30%;
}
.kep5{
    width: 5%;
    height: 5%;
}
.kep4{
    margin: 140px;
    margin-bottom: 10px;
    width: 15%;
    height: 15%;
}
.szoveg{
    text-align: center;
    font-size: 30px;
}
.szoveg2{
    text-align: left;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 30px;
    color: blueviolet;
}
.szoveg3{
    text-align: center;
    font-size: 30px;
    margin-left: 210px;
    margin-top: -30px;
    color: #a20b32;
}
.szoveg4{
    text-align: right;
    font-size: 30px;
    margin-left: 310px;
    margin-top: -30px;
    color: #1aa20b;
}
.aszov{
    font-style: italic;
    font-size: 25px;
    margin: 25px;
}
.dropbtn2 {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn2:hover, .dropbtn2:focus {
    background-color: #2980B9;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255, 40, 0, 0.58);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.contain {
    background-color: rgba(255, 0, 0, 0.58);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
