body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("hatter.jpg");
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 170px auto;
}

.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
}

.login-right{
    background: #fff;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}

.cim{
    background-color: rgba(255, 0, 0, 0.58);
    margin-top: 50px;
    margin-left: 510px;
    margin-right: 510px;
    padding: 15px;
}

.kep{
    background-position: right;
    margin: 50px;
}